# path:   /home/klassiker/.local/share/repos/wacom/99-wacom.rules
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/wacom
# date:   2024-01-07T08:50:10+0100

ACTION=="add" \
    , SUBSYSTEM=="usb" \
    , ATTRS{idVendor}=="056a" \
    , TAG+="systemd" \
    , ENV{SYSTEMD_USER_WANTS}+="wacom.service"
