# path:   /home/klassiker/.local/share/repos/wacom/99-wacom.rules
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/wacom
# date:   2025-08-08T05:32:17+0200

ACTION=="add" \
    , SUBSYSTEM=="usb" \
    , ATTRS{idVendor}=="056a" \
    , TAG+="systemd" \
    , ENV{SYSTEMD_USER_WANTS}+="wacom.service"
